.wrapper {
}

.moviesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.moviesList a {
  text-decoration: none;
}
