.wrapper {
  display: flex;
  justify-content: center;
}
.searchField {
  height: 46px;
  width: 50%;
  border: none;
  font-style: italic;
  font-size: 16px;
  border-bottom: 1px solid #dedede;
  outline: none;
}
.magnifyingGlass {
  display: block;
  line-height: 46px;
}
